<?php
$header = '
Pando NOTICE OF MIT LICENSE

@copyright Paolo Combi (https://combi.li)
@link    https://github.com/colapiombo/pando
@author  Paolo Combi <paolo@combi.li>
@license https://github.com/colapiombo/pando/blob/master/LICENSE (MIT License)

';

$config = PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'array_syntax' => ['syntax' => 'short'],
        'combine_consecutive_unsets' => true,
        'concat_space' => ['spacing' => 'one'],
        'header_comment' => array('header' => $header, 'commentType' => 'PHPDoc'),
        'include' => true,
        'mb_str_functions' => true,
        'native_function_invocation' => true,
        'new_with_braces' => true,
        'no_empty_statement' => true,
        'no_extra_consecutive_blank_lines' => true,
        'no_leading_import_slash' => true,
        'no_leading_namespace_whitespace' => true,
        'no_multiline_whitespace_around_double_arrow' => true,
        'no_multiline_whitespace_before_semicolons' => true,
        'no_php4_constructor' => true,
        'no_singleline_whitespace_before_semicolons' => true,
        'no_trailing_comma_in_singleline_array' => true,
        'no_unused_imports' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'no_whitespace_in_blank_line' => true,
        'object_operator_without_whitespace' => true,
        'ordered_imports' => true,
        'standardize_not_equals' => true,
        'strict_param' => true,
        'ternary_operator_spaces' => true,
        'phpdoc_align' => false,
        'phpdoc_summary' => false,
        'strict_comparison' => true,
        'declare_strict_types' => true,
        'yoda_style' => null,
    ])
    ->setIndent('    ')
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in([__DIR__.DIRECTORY_SEPARATOR.'src',__DIR__.DIRECTORY_SEPARATOR.'tests'])
    )->setLineEnding("\n");

return $config;
